---
import PhotoshopIcon from "./icons/PhotoshopIcon.astro";
import IllustratorIcon from "./icons/IllustratorIcon.astro";
import InDesignIcon from "./icons/InDesignIcon.astro";
import FigmaIcon from "./icons/FigmaIcon.astro";
import SocialPill from "./SocialPill.astro";
import BehanceIcon from "./icons/BehanceIcon.astro";
import CorelDrawIcon from "./icons/CorelDrawIcon.astro";

const TAGS = {
  PHOTOSHOP: {
    name: "Photoshop",
    class: "bg-blue-100 text-blue-800 border border-blue-300",
    icon: PhotoshopIcon,
  },
  ILLUSTRATOR: {
    name: "Illustrator",
    class: "bg-orange-100 text-orange-800 border border-orange-300",
    icon: IllustratorIcon,
  },
  INDESIGN: {
    name: "InDesign",
    class: "bg-pink-100 text-pink-800 border border-pink-300",
    icon: InDesignIcon,
  },
  FIGMA: {
    name: "Figma",
    class: "bg-green-100 text-green-800 border border-green-300",
    icon: FigmaIcon,
  },
  CORELDRAW: {
    name: "CorelDRAW",
    class: "bg-purple-100 text-purple-800 border border-purple-300",
    icon: CorelDrawIcon,
  },
};

const PROJECTS = [
  {
    title: "Botanic ONLINE – Diseño web",
    description:
      "Proyecto para una empresa botánica con el objetivo de ampliar su presencia online. Me encargué del diseño visual y la experiencia de usuario, creando una web limpia y coherente con la estética de la marca.",
    url: "https://www.behance.net/gallery/225243477/Web-Design-BOTANIC-online",
    image: "/projects/carteleria.png",
    tags: [TAGS.INDESIGN, TAGS.FIGMA, TAGS.CORELDRAW],
  },
  {
    title: "Sepermanente - Branding",
    description:
      "Branding de una empresa de pintura, donde se creó una nueva imagen y se desarrollaron distintas aplicaciones gráficas para su comunicación visual.",
    url: "https://www.behance.net/gallery/198691959/branding-Sepermanente",
    image: "/projects/sepermanente.png",
    tags: [TAGS.PHOTOSHOP, TAGS.ILLUSTRATOR],
  },
  {
    title: "Sinerlogis - Rebranding",
    description:
      "Rebranding para una empresa de transportes con el objetivo de modernizar su imagen. Se definió una nueva identidad visual adaptada a sus valores y se aplicó en diversos soportes de comunicación.",
    url: "https://www.behance.net/gallery/224844877/Rebranding-de-Sinerlogis",
    image: "/projects/sepermanente.png",
    tags: [TAGS.PHOTOSHOP, TAGS.CORELDRAW],
  },
  {
    title: "MedFlon - Branding",
    description:
      "Branding para un centro médico, donde se definió la identidad corporativa completa: desde papelería y material de oficina hasta elementos gráficos decorativos para el espacio físico de la clínica.",
    url: "https://www.behance.net/gallery/225241851/Branding-MedFlon",
    image: "/projects/sepermanente.png",
    tags: [TAGS.CORELDRAW],
  },
  {
    title: "SP - Rebranding",
    description:
      "Rebranding trabajado en conjunto con el cliente para definir una identidad visual clara y minimalista. El resultado se aplicó a un completo manual de marca y a sus vehículos de transporte.",
    url: "https://www.behance.net/gallery/224845911/Rebranding-SP",
    image: "/projects/sepermanente.png",
    tags: [TAGS.PHOTOSHOP, TAGS.CORELDRAW],
  },
  {
    title: "Castellana Cementos - Rebranding",
    description:
      "Rebranding para una empresa cementera, desarrollado en estrecha colaboración con el cliente. Se creó una nueva identidad visual y un manual con sus aplicaciones gráficas.",
    url: "https://www.behance.net/gallery/224843481/Rebranding-CC",
    image: "/projects/sepermanente.png",
    tags: [TAGS.CORELDRAW],
  },
  {
    title: "Tutto Passa - Diseño para camisetas",
    description:
      "Diseño gráfico para una marca de ropa joven, aplicando tendencias actuales y trabajando con medidas exactas para la producción de prendas mediante vinilo fundido.",
    url: "https://www.behance.net/gallery/225257593/Tutto-Passa-Diseno-para-camisetas",
    image: "/projects/sepermanente.png",
    tags: [TAGS.PHOTOSHOP, TAGS.ILLUSTRATOR],
  },
];
---

<div class="space-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, url }) => (
      <article class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="aspect-video overflow-hidden rounded-xl shadow-xl border border-gray-400">
          <img alt={title} src={image} class="object-cover w-full h-full" />
        </div>

        <div class="space-y-4">
          <h3 class="text-2xl font-bold text-gray-800">{title}</h3>
          <div class="space-y-2">
            <ul class="flex flex-wrap gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-1 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <p class="text-gray-700">{description}</p>
            <footer class="flex items-center gap-4">
              <SocialPill href={url}>
                <BehanceIcon class="size-4 md:size-5" />
                <span class="text-gray-600">Ver en Behance</span>
              </SocialPill>
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
